[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mbest"]
	path = mbest
	url = https://github.com/patperry/r-mbest
	shallow = true
	registered = true
[submodule "utf8"]
	path = utf8
	url = https://github.com/patperry/r-utf8
	shallow = true
	registered = true
